<div id="cuadrados">
  <!-- <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a>
  <a routerLink=""></a> -->
  <div class="blanco"><p>a</p></div>
  <div class="negro"><p>a</p></div>
  <div class="gris"><p>a</p></div>
  <div class="rojo"><p>a</p></div>
  <div class="crema"><p>a</p></div>
  <div class="marron"><p>a</p></div>
  <div class="bronce"><p>a</p></div>
  <div class="azul"><p>a</p></div>
</div>
