<div>
  <div class="categoriasTabla">
    <div>
      <img src="" alt="Icono de alimentos y bebidas" />
      <a href="s">Alimentos y bebidas</a>
    </div>
    <div>
      <img src="" alt="Icono de moda y accesorios" />
      <a href="s">Moda y accesorios</a>
    </div>
    <div>
      <img src="" alt="Icono de juguetes y juegos" />
      <a href="s">Juguetes y juegos</a>
    </div>
    <div>
      <img src="" alt="Icono de libros y papeleria" />
      <a href="s">Libros y papeleria</a>
    </div>
    <div>
      <img src="" alt="Icono de salud y belleza" />
      <a href="s">Salud y belleza</a>
    </div>
    <div>
      <img src="" alt="Icono de tecnología y electrónica" />
      <a href="s">Tecnología y electrónica</a>
    </div>
    <div>
      <img src="" alt="Icono de hogar y decoración" />
      <a href="s">Hogar y decoración</a>
    </div>
    <div>
      <img src="" alt="Icono " />
      <a href="s"></a>
    </div>
    <div>
      <img src="" alt="Icono " />
      <a href="s"></a>
    </div>
    <div>
      <img src="" alt="Icono " />
      <a href="s"></a>
    </div>
  </div>
</div>
