<div id="header">
  <div id="empresa">
    <a routerLink="inicio"
      ><div class="imagenTexto">
        <img src="IMG/tienda.png" alt="Logo" height="50" />
        <h1>Tarra<span class="dorado">C</span>ommerce</h1>
      </div></a
    >
    <p class="dorado">Eslogan de la empresa</p>
  </div>
  <div>
    <div id="superior">
      <div class="alante">
        <a href=""
          ><div class="imagenTexto">
            <img src="IMG/libro.png" alt="Logo" height="25" />
            <p class="dorado">Idioma</p>
          </div></a
        >
      </div>
      <div class="atras">
        <a href=""
          ><div class="imagenTexto">
            <img src="IMG/ajustes.png" alt="Logo" height="20" />
            <p class="dorado">Gestionar usuario</p>
          </div></a
        >
        <a href=""
          ><div class="imagenTexto">
            <img src="IMG/carrito.png" alt="Logo" height="25" />
            <p class="dorado">Comprar</p>
          </div></a
        >
      </div>
    </div>
    <div id="inferior">
      <div class="primero">
        <a routerLink="inicio">Inicio</a>
      </div>
      <div class="bordes desplegable">
        <a routerLink="productos">Productos</a>
        <div class="elementos-desplegable">
          <div><a href="">Alimentos y Bebida</a></div>
          <div><a href="">Moda y Accesorios</a></div>
          <div><a href="">Juguetes y Juegos</a></div>
          <div><a href="">Libros y Papelería</a></div>
          <div><a href="">Salud y Belleza</a></div>
          <div><a href="">Tecnología y Electrónica</a></div>
          <div><a href="">Hogar y Decoración</a></div>
          <div><a href="">Deportes y Aire Libre</a></div>
          <div><a href="">Mascotas</a></div>
          <div><a href="">Artesanía y Manualidades</a></div>
        </div>
      </div>
      <div class="bordes desplegable">
        <a routerLink="comercios">Comercios</a>
        <div class="elementos-desplegable">
          <div><a href="">Empresa 1</a></div>
          <div><a href="">Empresa 2</a></div>
          <div><a href="">Empresa 3</a></div>
          <!-- Generar casillas grises para visualización final -->
          <div></div>
          <div></div>
          <!-- Generar casillas grises para visualización final -->
        </div>
      </div>
      <div class="bordes">
        <a routerLink="eventos">Eventos</a>
      </div>
      <div class="ultimo">
        <a routerLink="contacto">Contacto</a>
      </div>
      <div class="barraBusqueda">
        <input class="transparente" type="text" placeholder="Buscar..." />
        <button class="transparente">Buscar</button>
      </div>
    </div>
  </div>
</div>
