<div class="infoEmpresas">
  <div class="nombreLogo">
    <h1>Jazs Devs</h1>
    <img
      class="jazsDevs"
      src="IMG/logoJazsDevs.png"
      alt="Logo empresa Jazs Devs"
    />
  </div>
  <p>
    Jazs Devs es una empresa conformada por tres talentosos programadores
    FullStack especializados en la creación dinámica de páginas web,
    aplicaciones de Java y bases de datos. Nuestro equipo maneja con destreza
    una amplia gama de tecnologías, incluyendo
    <strong>Angular, JavaScript, CSS, HTML, Java</strong> y
    <strong>MySQL</strong>, entre otras. Nos dedicamos a ofrecer soluciones
    tecnológicas innovadoras y de alta calidad, adaptadas a las necesidades
    específicas de nuestros clientes.
  </p>
  <p>
    Nuestra misión es ayudar a las empresas a destacarse en el entorno digital
    mediante el desarrollo de plataformas robustas y escalables que faciliten la
    interacción con sus usuarios. Con un enfoque meticuloso en la funcionalidad
    y la experiencia del usuario, garantizamos que cada proyecto que emprendemos
    cumpla con los más altos estándares de eficiencia y usabilidad.
  </p>
  <p>
    En Jazs Devs, creemos en la importancia de la colaboración y el
    entendimiento profundo de los objetivos de nuestros clientes. Por ello,
    trabajamos estrechamente con ellos desde la fase inicial de planificación
    hasta la implementación y el mantenimiento, asegurando que cada aspecto del
    proyecto refleje su visión y satisfaga sus necesidades comerciales.
  </p>
</div>

<div id="fotoGrupo" class="dorado negroNoTanNegro">
  <h1>¡Estos somos nosotros!</h1>
  <div>
    <img
      class="grupo"
      src="IMG/nosotros.png"
      height="300px"
      alt="Foto del grupo de trabajo"
    />
    <p>
      <strong>
        Somos tres programadores apasionados y dedicados, comprometidos a
        ofrecer lo mejor de nuestras habilidades para crear soluciones
        tecnológicas excepcionales. Cada miembro de nuestro equipo aporta una
        combinación única de conocimientos y experiencia, permitiéndonos abordar
        proyectos de diversa índole con creatividad y eficiencia. Creemos en el
        poder de la colaboración y en el impacto positivo que la tecnología
        puede tener en los negocios y en la vida de las personas. Estamos aquí
        para ayudarle a llevar su proyecto al siguiente nivel con innovación,
        calidad y un servicio personalizado.</strong
      >
    </p>
  </div>
</div>

<div class="infoEmpresas">
  <div class="nombreLogo">
    <h1>Jazs Devs</h1>
    <img
      class="jazsDevs"
      src="IMG/logoJazsDevs.png"
      alt="Logo empresa Jazs Devs"
    />
  </div>
  <p>
    Jazs Devs es una empresa conformada por tres talentosos programadores
    FullStack especializados en la creación dinámica de páginas web,
    aplicaciones de Java y bases de datos. Nuestro equipo maneja con destreza
    una amplia gama de tecnologías, incluyendo
    <strong>Angular, JavaScript, CSS, HTML, Java</strong> y
    <strong>MySQL</strong>, entre otras. Nos dedicamos a ofrecer soluciones
    tecnológicas innovadoras y de alta calidad, adaptadas a las necesidades
    específicas de nuestros clientes.
  </p>
  <p>
    Nuestra misión es ayudar a las empresas a destacarse en el entorno digital
    mediante el desarrollo de plataformas robustas y escalables que faciliten la
    interacción con sus usuarios. Con un enfoque meticuloso en la funcionalidad
    y la experiencia del usuario, garantizamos que cada proyecto que emprendemos
    cumpla con los más altos estándares de eficiencia y usabilidad.
  </p>
  <p>
    En Jazs Devs, creemos en la importancia de la colaboración y el
    entendimiento profundo de los objetivos de nuestros clientes. Por ello,
    trabajamos estrechamente con ellos desde la fase inicial de planificación
    hasta la implementación y el mantenimiento, asegurando que cada aspecto del
    proyecto refleje su visión y satisfaga sus necesidades comerciales.
  </p>
</div>
