<!-- <div id="cuadrados">
  <div>
    <a routerLink="/about">
      <img class="imgCuadradas" src="IMG/productos/aloeVera.png" alt="Crema de Aloe Vera" />
      <div class="infoImg delante oculto">
        <h3>Crema de Aloe Vera</h3>
        <p>La crema de aloe vera es una crema hidratante que contiene cosas</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/camisa">
      <img class="imgCuadradas" src="IMG/productos/camisa.png" alt="Camisa de seda" />
      <div class="infoImg delante oculto">
        <h3>Camisa de seda</h3>
        <p>
          La camisa de seda es suave y cómoda, perfecta para cualquier ocasión.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/tarta-manzana">
      <img class="imgCuadradas" src="IMG/productos/tartaManzana.png" alt="Tarta de manzana" />
      <div class="infoImg delante oculto">
        <h3>Tarta de manzana</h3>
        <p>Deliciosa tarta de manzana con una receta tradicional.</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/libro">
      <img class="imgCuadradas" src="IMG/productos/libro.png" alt="Libro de George Genke" />
      <div class="infoImg delante oculto">
        <h3>Libro de George Genke</h3>
        <p>Una fascinante obra literaria de George Genke.</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/bolso">
      <img class="imgCuadradas" src="IMG/productos/bolso.png" alt="Bolso de flores" />
      <div class="infoImg delante oculto">
        <h3>Bolso de flores</h3>
        <p>Bolso decorado con un hermoso diseño floral.</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/bloques-juguete">
      <img class="imgCuadradas"
        src="IMG/productos/bloquesJuguete.png"
        alt="Casa hecha con bloques de madera"
      />
      <div class="infoImg delante oculto">
        <h3>Casa hecha con bloques de madera</h3>
        <p>Construye tu propia casa con estos bloques de madera.</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/croissant">
      <img class="imgCuadradas" src="IMG/productos/croissant.png" alt="Croissant con café" />
      <div class="infoImg delante oculto">
        <h3>Croissant con café</h3>
        <p>Disfruta de un delicioso croissant acompañado de un buen café.</p>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/puzzle">
      <img class="imgCuadradas" src="IMG/productos/puzzle.png" alt="Puzzle de la naturaleza" />
      <div class="infoImg delante oculto">
        <h3>Puzzle de la naturaleza</h3>
        <p>Arma este hermoso puzzle con imágenes de la naturaleza.</p>
      </div>
    </a>
  </div>
</div> -->

<section class="contenedorSlider crema">
  <div class="slider">
    <content class="elementSlider">
      <a routerLink="/about">
        <!-- CAMBIAR EL LINK -->
        <img
          class="imageneSlider"
          src="IMG/productos/aloeVeraS.png"
          alt="Crema de Aloe Vera"
        />
        <span class="infoImg delante oculto">
          <h3>Crema de Aloe Vera</h3>
          <p>
            La crema de aloe vera es una crema hidratante que contiene cosas
          </p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/product">
        <!-- CAMBIAR EL LINK -->
        <img
          class="imageneSlider"
          src="IMG/productos/camisaS.png"
          alt="Camisa de seda"
        />
        <span class="infoImg delante oculto">
          <h3>Camisa de seda</h3>
          <p>
            La camisa de seda es suave y cómoda, perfecta para cualquier
            ocasión.
          </p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/tarta-manzana">
        <img
          class="imageneSlider"
          src="IMG/productos/tartaManzanaS.png"
          alt="Tarta de manzana"
        />
        <span class="infoImg delante oculto">
          <h3>Tarta de manzana</h3>
          <p>Deliciosa tarta de manzana con una receta tradicional.</p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/libro">
        <img
          class="imageneSlider"
          src="IMG/productos/libroS.png"
          alt="Libro de George Genke"
        />
        <span class="infoImg delante oculto">
          <h3>Libro de George Genke</h3>
          <p>Una fascinante obra literaria de George Genke.</p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/bolso">
        <img
          class="imageneSlider"
          src="IMG/productos/bolsoS.png"
          alt="Bolso de flores"
        />
        <span class="infoImg delante oculto">
          <h3>Bolso de flores</h3>
          <p>Bolso decorado con un hermoso diseño floral.</p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/bloques-juguete">
        <img
          class="imageneSlider"
          src="IMG/productos/bloquesJugueteS.png"
          alt="Casa hecha con bloques de madera"
        />
        <span class="infoImg delante oculto">
          <h3>Casa hecha con bloques de madera</h3>
          <p>Construye tu propia casa con estos bloques de madera.</p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/croissant">
        <img
          class="imageneSlider"
          src="IMG/productos/croissantS.png"
          alt="Croissant con café"
        />
        <span class="infoImg delante oculto">
          <h3>Croissant con café</h3>
          <p>Disfruta de un delicioso croissant acompañado de un buen café.</p>
        </span>
      </a>
    </content>
    <content class="elementSlider">
      <a routerLink="/puzzle">
        <img
          class="imageneSlider"
          src="IMG/productos/puzzleS.png"
          alt="Puzzle de la naturaleza"
        />
        <span class="infoImg delante oculto">
          <h3>Puzzle de la naturaleza</h3>
          <p>Arma este hermoso puzzle con imágenes de la naturaleza.</p>
        </span>
      </a>
    </content>
    <div class="acciones">
      <span class="flecha izquierda khaki" (click)="moverImg(-1)"
        >&#10094;</span
      >
      <span class="flecha derecha khaki" (click)="moverImg(1)">&#10095;</span>
      <span class="circulo puntos" (click)="mostrarImg(1)"></span>
      <span class="circulo puntos" (click)="mostrarImg(2)"></span>
      <span class="circulo puntos" (click)="mostrarImg(3)"></span>
      <span class="circulo puntos" (click)="mostrarImg(4)"></span>
      <span class="circulo puntos" (click)="mostrarImg(5)"></span>
      <span class="circulo puntos" (click)="mostrarImg(6)"></span>
      <span class="circulo puntos" (click)="mostrarImg(7)"></span>
      <span class="circulo puntos" (click)="mostrarImg(8)"></span>
    </div>
  </div>
</section>

<div class="segundoDiv crema">
  <aside class="menuFiltro">
    <ul>
      <li><a routerLink="/comercios">Comercios</a></li>
      <li><a routerLink="/productos">Categoria</a></li>
      <li><p>Filtros</p></li>
    </ul>
    <span>
      <input
        type="range"
        id="filtroDinero"
        min="0"
        max="100"
        value="20"
        step="1"
      />
      <span id="mostrarValor">20</span><span>€</span>
    </span>
  </aside>
  <content class="container">
    <span class="product-item">
      <img src="https://via.placeholder.com/200" alt="Producto 1" />
      <h2>Producto 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eget auctor nulla. Nullam condimentum tincidunt ipsum quis euismod.
        Proin sed massa vitae lorem ultrices tempus.
      </p>
      <p class="precio">50.00€</p>
      <button>Añadir al carrito</button>
    </span>
    <span class="product-item">
      <img src="https://via.placeholder.com/200" alt="Producto 2" />
      <h2>Producto 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eget auctor nulla. Nullam condimentum tincidunt ipsum quis euismod.
        Proin sed massa vitae lorem ultrices tempus.
      </p>
      <p class="precio">65.00€</p>
      <button>Añadir al carrito</button>
    </span>
    <span class="product-item">
      <img src="https://via.placeholder.com/200" alt="Producto 3" />
      <h2>Producto 3</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eget auctor nulla. Nullam condimentum tincidunt ipsum quis euismod.
        Proin sed massa vitae lorem ultrices tempus.
      </p>
      <p class="precio">80.00€</p>
      <button>Añadir al carrito</button>
    </span>
    <span class="product-item">
      <img src="https://via.placeholder.com/200" alt="Producto 2" />
      <h2>Producto 4</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eget auctor nulla. Nullam condimentum tincidunt ipsum quis euismod.
        Proin sed massa vitae lorem ultrices tempus.
      </p>
      <p class="precio">20.00€</p>
      <button>Añadir al carrito</button>
    </span>
    <span class="product-item">
      <img src="https://via.placeholder.com/200" alt="Producto 3" />
      <h2>Producto 5</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eget auctor nulla. Nullam condimentum tincidunt ipsum quis euismod.
        Proin sed massa vitae lorem ultrices tempus.
      </p>
      <p class="precio">100.00€</p>
      <button>Añadir al carrito</button>
    </span>
  </content>
</div>
